.BlogDetailsContent .blog_detail__left>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
    border-top: 1px solid #00000014;
}

.BlogDetailsContent .blog_detail__left>div p,
.BlogDetailsContent .blog_detail__left>div ul li, .BlogDetailsContent .blog_detail__left>div span {
    color: #444;
    margin: 0;
    padding: 0;
    font-family: Roboto Flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.BlogDetailsContent .blog_detail__left>div h2,
.BlogDetailsContent .blog_detail__left>div h3,
.BlogDetailsContent .blog_detail__left>div h5,
.BlogDetailsContent .blog_detail__left>div h4  {
    color: #000;
    text-align: left;
    margin: 0;
    font-family: Roboto Flex;
    font-size: 18px;
    font-weight: 800 !important;
    padding-top: 15px;
}

.BlogDetailsContent .blog_detail__left>div h2 b {
    font-weight: 800 !important;
}

.BlogDetailsContent .blog_detail__left>div ul {
    margin: 0px;
}

.BlogDetailsGrid {
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 100px;
}

.BlogDetailsItem img {
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.blogDetailsTitle {
    padding: 25px 0px 15px;
    color: #000;
    text-align: left;
    margin: 0;
    font-family: Roboto Flex;
    font-size: 22px;
    font-weight: 700 !important;
}

.BlogDetailsContent .blog_detail__left>div p a, .BlogDetailsContent .blog_detail__left>div a, .BlogDetailsContent .blog_detail__left>div a span {
    text-decoration: unset;
    color: #00509e;
}


.BlogDetailsContent .blog_detail__left>div table tr td {
    border-bottom: 1px solid #2222;
    padding: 15px;
}

.BlogDetailsContent .blog_detail__left>div table tr td p span {
    color: #444;
    margin: 0;
    font-family: Roboto Flex;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.BlogDetailsContent .blog_detail__left>div table tr:first-child b {
    color: #000;
}


.blogdetail__socialicon ul {
    padding: 0px;
    list-style: none;
    display: flex;
    gap: 10px;
}

.blogdetail__socialicon ul li a {
    text-decoration: unset;
    padding: 10px 15px;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff !important;
    background: #00509e;
    border-radius: 10px;
    font-family: Roboto Flex;
    font-size: 14px;
    font-weight: 400;
}

.blog_detail__left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.blogdetail__socialicon ul li a svg path {
    fill: #fff;
}

.blogdetail__socialicon ul li a svg {
    width: 16px;
    transform: scale(1.4);
}


.blog__next__prev ul {
    padding: 0px;
    list-style: none;
}

.blog__next__prev ul .services_right_box {
    padding: 25px !important;
    border: 1px solid #00000014;
    width: fit-content;
    border-radius: 10px;
    background: #00000014;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blog__next__prev ul .services_right_box a.text_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: unset;
    color: #000;
    font-weight: 700;
}

.blog__next__prev ul .services_right_box a.text_btn svg {
    transform: scale(1.5);
    width: 10px;
    filter: brightness(0.5);
}

.blog__next__prev ul .services_right_box p {
    line-height: normal;
    color: #222;
    font-size: 14px;
    font-weight: 600;
}


.BlogDetailsCategoriesItem {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.BlogDetailsCategoriesItem h2 {
    padding: 0px 0px 20px;
    color: #000;
    text-align: left;
    margin: 0;
    font-family: Roboto Flex;
    font-size: 22px;
    font-weight: 700 !important;
    border-bottom: 1px solid #00000014;
}


.BlogDetailsCategoriesListing ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.BlogDetailsCategoriesListing ul li {
    padding: 15px;
    color: #444;
    text-align: left;
    margin: 0;
    font-family: Roboto Flex;
    font-size: 16px;
    font-weight: 600 !important;
    border-bottom: 1px solid #00000014;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.8s all;
}

.BlogDetailsCategoriesListing ul li svg {
    color: #00509e;
    font-size: 20px;
}

.BlogDetailsCategoriesListing ul li:hover {
    background: #f4f4f4;
}


.BlogDetailsContent .blog__next__prev ul {
    display: flex;
    gap: 10px !important;
}

.BlogDetailsContent .blog__next__prev ul p {
    line-height: 28px;
}

@media (max-width: 1200px) {
    .BlogDetailsGrid {
        gap: 40px;
    }

    .blogDetailsTitle {
        font-size: 18px;
    }

    .BlogDetailsContent .blog_detail__left>div p,
    .BlogDetailsContent .blog_detail__left>div ul li {
        font-size: 14px;
    }

    .BlogDetailsCategoriesItem h2 {
        font-size: 18px;
    }

    .BlogDetailsCategoriesListing ul li {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .BlogDetailsGrid {
        display: flex;
        flex-direction: column-reverse;
    }
}

span[data-ccp-props] {
  display: none !important;
}
.BlogDetailsContent .blog_detail__left>div br {
    display: none;
}

.BlogDetailsContent .blog_detail__left>div.blog__next__prev {
    display: none;
}