.readmore {
    background: #fff;
    text-decoration: unset;
    text-transform: capitalize;
    z-index: 2;
    border: none;
    color: #000000;
    line-height: 1;
    padding: 15px 20px;
    border-radius: 8px;
    overflow: hidden;
    transition: .5s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: fit-content;
    position: relative;
}

@media (max-width: 1200px) {
    .readmore {
        font-size: 14px;
    }
}