.FeaturedBrandsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.FeaturedBrandsGridItem {
    padding: 15px;
    text-align: center;
    box-shadow: 2px 3px 4px 2px #dadada57;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffff;
    border: 1px solid #4444440f;
    border-radius: 16px;
    cursor: pointer;
}

.FeaturedBrandsGridItem img {
    width: 100%;
    object-fit: scale-down;
    aspect-ratio: 82 / 61;
    border-radius: 16px;
}


@media (max-width: 991px) {
    .FeaturedBrandsGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media (max-width: 767px) {
    .FeaturedBrandsGrid {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 600px) {
    .FeaturedBrandsGrid {
        grid-template-columns: 1fr;
    }
}