/* header */
.customHeader .nav-link {
    padding: 8px 15px !important;
    font-size: 16px;
    font-family: 'Roboto Flex';
    color: #556575;
    font-weight: 500;
    border-radius: 10px;
    transition: 0.8s all;
}

.customHeader ul.navbar-nav {
    padding-left: 30px;
    gap: 15px;
}

.customHeader .nav-link:hover {
    background-color: #00509e1c;
    color: rgb(0 80 158);
    border-radius: 8px;
}


.rightSideBtn {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 15px;
}

.searchBtn {
    width: 46px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background: #92b4d647;
    cursor: pointer;
    border: 1px solid #2222;
}

.searchBtn svg {
    /* filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(264deg) brightness(107%) contrast(102%); */
    max-width: 20px;
    filter: brightness(0) saturate(100%) invert(19%) sepia(98%) saturate(1653%) hue-rotate(194deg) brightness(98%) contrast(101%);
}

.rightSideBtn .readmore {
    background: #00509e;
    color: #fff;
}

/* header */


.customHeader ul.navbar-nav .productDropdown {
    position: unset !important;
}

.customHeader ul.navbar-nav .productDropdown .dropdown-menu {
    width: 100%;
    left: 0;
    top: 107px;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    z-index: 999;
    min-width: 200px;
    background: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 32px 64px;
    transform: translateY(9px);
    transition: opacity 0.2s ease, transform 0.2s ease, visibility 0.2s;
}

.customHeader .container {
    position: relative;
}


.customHeader .navbar-brand {
    padding: 0px;
}

.customHeader nav.navbar {
    padding: 0px;
}

.customHeader .nav-item {
    padding: 38px 0px;
}

.ProductGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
    gap: 50px;
}

.ProductItem h5 {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Flex';
    color: #00509e;
    margin: 0px;
    text-align: left;
    border-bottom: 1px solid #4444;
    padding-bottom: 15px;
}

.ProductItem {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ProductItem ul {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ProductItem ul a {
    text-decoration: none;
    color: #666;
    text-align: left;
    cursor: pointer;
    margin: 0;
    font-family: Roboto Flex;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    transition: 0.8s all;
    gap: 10px;
}

.ProductItem ul a:hover,
.ProductItem ul a:hover svg {
    color: #00509e;
}

.ProductItem ul a svg {
    color: #444;
}

.ProductItem ul li {
    text-align: left;
    cursor: pointer;
    align-items: center;
    gap: 10px;
    margin: 0;
    transition: all .8s;
    display: flex;
}


.stickyHeader {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1;
    border-bottom: 1px solid #0000000d;
    z-index: 111;
}



.mobileSearch .searchBtn {
    display: none;
}

@media (max-width: 1200px) {
    .customHeader .nav-link {
        font-size: 14px;
    }

    .customHeader ul.navbar-nav {
        padding-left: 0px;
    }
}


@media (max-width: 991px) {
    .customHeader .nav-item {
        padding: 0px;
    }

    .customHeader .navbar-brand img {
        max-width: 80%;
    }

    .customHeader ul.navbar-nav {
        padding-left: 0px;
        padding-top: 15px;
        gap: 0px;
        height: 250px;
        overflow: auto;
    }


    .customHeader .nav-link {
        padding: 15px !important;
        border-bottom: 1px solid #4444440f;
        border-radius: 0px;
    }

    .customHeader ul.navbar-nav .productDropdown .dropdown-menu {
        padding: 15px 0px;
        box-shadow: unset !important;
    }

    .ProductGrid {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .ProductItem h5 {
        font-size: 15px;
        padding: 0px 15px 15px;
    }

    .ProductItem {
        gap: 10px;
    }

    .ProductItem ul {
        padding-left: 15px;
    }

    .ProductItem ul a {
        font-size: 13px;
    }

    .customHeader {
        padding: 15px 0px;
    }

    .mobileSearch {
        display: flex;
        gap: 15px;
    }

    .customHeader .rightSideBtn {
        display: none !important;
    }

    .mobileSearch .searchBtn {
        display: flex;
    }
}