.clientLogoWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
    padding-right: 38px;
    height: 100%;
}

.clientLogoWrapper .clientsItem img {
    width: 100%;
    margin: auto;
    object-fit: scale-down;
    max-height: 80px;
    /* filter: grayscale(0); */
}

.clientsItem {
    background: #ffffff;
    transition: all .4s;
    display: flex;
    align-items: center;
    padding: 20px;
    min-height: 150px;
    border: 1px solid #0000000f;
    border-radius: 12px;
    filter: grayscale(1);
}

.clientsItem:hover {
    filter: grayscale(0);
    border: 1px solid #00509e4f;
}


.secTitle h2 {
    text-align: left;
    margin: 0px;
}

.TestimonialWrapper {
    padding-left: 50px;
    border-left: 1px solid #c7c7c740;
}

.TestimonialWrapper .profileImg img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.profileWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
}

.profileContent h5 {
    font-size: 16px;
    color: #000000;
    margin: 0px;
}

.profileContent h6 {
    font-size: 14px;
    color: #444444ab;
    margin: 0px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.profileContent {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #8686861a;
}

.contentWrapper .content p {
    font-size: 15px;
    margin: 0px;
    line-height: 30px;
    color: #444;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    padding: 0px;
}

.contentWrapper .logo img {
    max-width: 150px;

}

.TestimonialsItem {
    padding: 32px;
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid #f0f0f0;
}

.profileImg {
    width: 70px;
    height: 70px;
    background: #00509e !important;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImg span {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-weight: 600;
}

.clientSec {
    border-top: 1px solid #f4f4f4;
}

.TestimonialWrapper .swiper-button-prev {
    position: absolute;
    top: 34px;
    right: 84px;
    left: unset;
    margin: 0px;
    padding: 10px;
    background: #dce6f0;
    border-radius: 4px;
    border: 1px solid #004f9e25;
}

.TestimonialWrapper .swiper-button-prev svg {
    color: #00509e;
    width: 8px;
}


.TestimonialWrapper .swiper-button-next {
    position: absolute;
    top: 34px;
    right: 32px;
    left: unset;
    margin: 0px;
    padding: 10px;
    background: #dce6f0;
    border-radius: 4px;
    border: 1px solid #004f9e25;
}

.TestimonialWrapper .swiper-button-next svg {
    color: #00509e;
    width: 8px;
}