@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=League+Spartan:wght@100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

:root {
    --main-container: 1500px;
    --container-gutters: 24px;
}

.CustomPeding {
    padding: 80px 0px;
}


.productSec {
    position: relative;
}


.innerPage .productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.borderBottom {
    border-bottom: 1px solid #f4f4f4;
}

.bgGrey {
    background: #f4f4f4;
}

@media (min-width: 1441px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: calc(var(--main-container) + var(--container-gutters)) !important;
        padding-left: calc(var(--container-gutters) / 2) !important;
        padding-right: calc(var(--container-gutters) / 2) !important;
    }
}


.shimmer-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            #e0e0e0 25%,
            #f5f5f5 50%,
            #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 3s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.secTitle .spanShimmer-box {
    width: 55px;
    height: 21px;
    display: block;
    border-radius: 8px;
    margin: 0px;
    overflow: hidden;
}

.secTitle .h2shimmer-box {
    width: 96px;
    height: 40px;
    border-radius: 8px;
    display: block;
    margin: 0px;
    box-shadow: 2px 3px 4px 2px #dadada57;
    border: 1px solid #4444440f;
}

.secTitle .h2shimmer-box .shimmer,
.productDetails .aboutImg .aboutImgShimmer-box .shimmer,
.secTitle .spanShimmer-box .shimmer {
    height: 100% !important;
}

.desc p.shimmer-box {
    height: 90px;
}

.productDetails .aboutImg .aboutImgShimmer-box {
    height: 552px;
    border: 0px;
    margin: 0px;
    overflow: hidden !important;
}

.desc .shimmer-text-line {
    height: 30px;
}

.productListing .productImage .shimmer {
    width: 100% !important;
    height: 388px;
}


.productListing .productImage .shimmer {
    width: 100% !important;
    height: 388px;
}

.productListing .productImage .grid {
    margin: 0px;
}

.productListing .productContent .grid {
    margin: 0px;
    width: 100px;
    margin: auto;
    border-radius: -30px !important;
}

.productListing .productContent .grid .shimmer {
    height: 17px;
    border-radius: 4px;
}

.FeaturedBrandsGrid .FeaturedBrandsShimmer-box {
    width: 100%;
    object-fit: scale-down;
    aspect-ratio: 82 / 61;
    border-radius: 16px;
    margin: 0px !important;
    box-shadow: 2px 3px 4px 2px #dadada57;
    border: 1px solid #4444440f;
}

.FeaturedBrandsGrid .FeaturedBrandsShimmer-box .shimmer {
    height: 100% !important;
}


.CustomSearchModal .productImageShimmer-box {
    width: 140px;
    height: 140px;
    margin: 0px;
}


.CustomSearchModal .productTitleShimmer-box {
    margin: 0px;
    width: 174px;
    height: 19px;
}

.CustomSearchModal .productTitleShimmer-box .shimmer {
    height: 100%;
    border-radius: 5px;
}

.CustomSearchModal .productDescriptionShimmer-box {
    margin: 0px;
}

.CustomSearchModal .productDescriptionShimmer-box .shimmer-text-line {
    height: 84px;
}

.CustomSearchModal .productImageShimmer-box .shimmer-text-line {
    width: 100%;
    height: 100%;
}

.blogImgShimmer-box {
    margin: 0px;
    aspect-ratio: 404 / 366;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.blogImgShimmer-box .shimmer {
    height: 100%;
}

.blog-card .blog-content .blogDateShimmer-box {
    margin: 0px;
}

.blog-card .blog-content .blogDateShimmer-box .shimmer-text-line {
    width: 79px !important;
    height: 21px;
    border-radius: 5px !important;
}

.blog-card .blog-content .blogTitleShimmer-box {
    height: 56px;
    margin: 0px;
}

.blog-card .blog-content .blogTitleShimmer-box .shimmer.shimmer-text-line {
    height: 100%;
}

.blogImg .blogImgShimmer-box {
    margin: 0px;
}


.BlogDetailsImg .BlogDetailsImgShimmer-box .shimmer-text-line {
    height: 316px;
}

.BlogDetailsItem .blogDetailsTitleShimmer-box .shimmer-text-line {
    height: 28px;
    width: 100px !important;
    border-radius: 4px !important;
}

.BlogDetailsItem .blogDetailsTitleShimmer-box,
.BlogDetailsItem .BlogDetailsContentShimmer-box {
    margin: 0px;
}

.BlogDetailsItem .BlogDetailsContentShimmer-box .shimmer-text-line {
    height: 60px;
    top: -60px;
    position: relative;
}


.BlogDetailsCategoriesListing .BlogDetailsContentShimmer-box {
    padding: 15px;
    border-bottom: 1px solid #00000014;
    margin: 0px;
}

.BlogDetailsCategoriesListing .BlogDetailsContentShimmer-box .shimmer-text-line {
    width: 190px !important;
    height: 20px;
    border-radius: 5px !important;
}

.BlogDetailsCategoriesItem .BlogDetailsCategoriesTitleShimmer-box {
    padding: 0px 0px 20px;
    margin: 0;
    border-bottom: 1px solid #00000014;
}

.BlogDetailsCategoriesItem .BlogDetailsCategoriesTitleShimmer-box .shimmer {
    width: 110px !important;
    height: 28px;
    border-radius: 4px !important;
}

.NoDataFound {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.NoDataFound img {
    width: 100%;
    max-width: 20%;
    margin: auto;
    border: 1px solid #0000000d;
    border-radius: 20px;
}

.NoDataFound h5 {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Roboto Flex';
    color: #024a92;
    line-height: normal;
}


@media (max-width: 1200px) {
    .container {
        max-width: 100% !important;
    }

    .CustomPeding {
        padding: 40px 0px;
    }

    .BlogDetailsItem img {
        height: auto;
    }
}

@media (max-width: 991px) {
    .innerPage .productGrid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
}


@media (max-width: 800px) {
    .productDetails .aboutContent {
        padding-top: 20px;
    }

    .innerPage .productGrid {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 600px) {

    .innerPage .productGrid {
        grid-template-columns: 1fr;
    }

    .productDetails .aboutImg {
        padding: 15px;
    }

    .productDetails .aboutImg img {
        padding: 0px;
        min-height: 300px;
        max-height: 300px;
    }
}