@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --main-container: 1500px;
    --container-gutters: 24px;
}

.CustomPeding {
    padding: 80px 0px;
}


.productSec {
    position: relative;
}


.innerPage .productGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.borderBottom {
    border-bottom: 1px solid #f4f4f4;
}

.bgGrey {
    background: #f4f4f4;
}

@media (min-width: 1441px) {

    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: calc(var(--main-container) + var(--container-gutters)) !important;
        padding-left: calc(var(--container-gutters) / 2) !important;
        padding-right: calc(var(--container-gutters) / 2) !important;
    }
}


.shimmer-box {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            #e0e0e0 25%,
            #f5f5f5 50%,
            #e0e0e0 75%);
    background-size: 200% 100%;
    animation: shimmer 3s infinite;
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}

.secTitle .spanShimmer-box {
    width: 55px;
    height: 21px;
    display: block;
    border-radius: 8px;
    margin: 0px;
    overflow: hidden;
}

.secTitle .h2shimmer-box {
    width: 96px;
    height: 40px;
    border-radius: 8px;
    display: block;
    margin: 0px;
    box-shadow: 2px 3px 4px 2px #dadada57;
    border: 1px solid #4444440f;
}

.secTitle .h2shimmer-box .shimmer,
.productDetails .aboutImg .aboutImgShimmer-box .shimmer,
.secTitle .spanShimmer-box .shimmer {
    height: 100% !important;
}

.desc p.shimmer-box {
    height: 90px;
}

.productDetails .aboutImg .aboutImgShimmer-box {
    height: 552px;
    border: 0px;
    margin: 0px;
    overflow: hidden !important;
}

.desc .shimmer-text-line {
    height: 30px;
}

.productListing .productImage .shimmer {
    width: 100% !important;
    height: 388px;
}


.productListing .productImage .shimmer {
    width: 100% !important;
    height: 388px;
}

.productListing .productImage .grid {
    margin: 0px;
}

.productListing .productContent .grid {
    margin: 0px;
    width: 100px;
    margin: auto;
    border-radius: -30px !important;
}

.productListing .productContent .grid .shimmer {
    height: 17px;
    border-radius: 4px;
}

.FeaturedBrandsGrid .FeaturedBrandsShimmer-box {
    width: 100%;
    object-fit: scale-down;
    aspect-ratio: 82 / 61;
    border-radius: 16px;
    margin: 0px !important;
    box-shadow: 2px 3px 4px 2px #dadada57;
    border: 1px solid #4444440f;
}

.FeaturedBrandsGrid .FeaturedBrandsShimmer-box .shimmer {
    height: 100% !important;
}


.CustomSearchModal .productImageShimmer-box {
    width: 140px;
    height: 140px;
    margin: 0px;
}


.CustomSearchModal .productTitleShimmer-box {
    margin: 0px;
    width: 174px;
    height: 19px;
}

.CustomSearchModal .productTitleShimmer-box .shimmer {
    height: 100%;
    border-radius: 5px;
}

.CustomSearchModal .productDescriptionShimmer-box {
    margin: 0px;
}

.CustomSearchModal .productDescriptionShimmer-box .shimmer-text-line {
    height: 84px;
}

.CustomSearchModal .productImageShimmer-box .shimmer-text-line {
    width: 100%;
    height: 100%;
}

.blogImgShimmer-box {
    margin: 0px;
    aspect-ratio: 404 / 366;
    width: 100%;
    object-fit: cover;
    object-position: left;
}

.blogImgShimmer-box .shimmer {
    height: 100%;
}

.blog-card .blog-content .blogDateShimmer-box {
    margin: 0px;
}

.blog-card .blog-content .blogDateShimmer-box .shimmer-text-line {
    width: 79px !important;
    height: 21px;
    border-radius: 5px !important;
}

.blog-card .blog-content .blogTitleShimmer-box {
    height: 56px;
    margin: 0px;
}

.blog-card .blog-content .blogTitleShimmer-box .shimmer.shimmer-text-line {
    height: 100%;
}

.blogImg .blogImgShimmer-box {
    margin: 0px;
}


.BlogDetailsImg .BlogDetailsImgShimmer-box .shimmer-text-line {
    height: 316px;
}

.BlogDetailsItem .blogDetailsTitleShimmer-box .shimmer-text-line {
    height: 28px;
    width: 100px !important;
    border-radius: 4px !important;
}

.BlogDetailsItem .blogDetailsTitleShimmer-box,
.BlogDetailsItem .BlogDetailsContentShimmer-box {
    margin: 0px;
}

.BlogDetailsItem .BlogDetailsContentShimmer-box .shimmer-text-line {
    height: 60px;
    top: -60px;
    position: relative;
}


.BlogDetailsCategoriesListing .BlogDetailsContentShimmer-box {
    padding: 15px;
    border-bottom: 1px solid #00000014;
    margin: 0px;
}

.BlogDetailsCategoriesListing .BlogDetailsContentShimmer-box .shimmer-text-line {
    width: 190px !important;
    height: 20px;
    border-radius: 5px !important;
}

.BlogDetailsCategoriesItem .BlogDetailsCategoriesTitleShimmer-box {
    padding: 0px 0px 20px;
    margin: 0;
    border-bottom: 1px solid #00000014;
}

.BlogDetailsCategoriesItem .BlogDetailsCategoriesTitleShimmer-box .shimmer {
    width: 110px !important;
    height: 28px;
    border-radius: 4px !important;
}

.NoDataFound {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.NoDataFound img {
    width: 100%;
    max-width: 20%;
    margin: auto;
    border: 1px solid #0000000d;
    border-radius: 20px;
}

.NoDataFound h5 {
    font-size: 25px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: #024a92;
    line-height: normal;
}


@media (max-width: 1200px) {
    .container {
        max-width: 100% !important;
    }

    .CustomPeding {
        padding: 40px 0px;
    }

    .BlogDetailsItem img {
        height: auto;
    }
}

@media (max-width: 991px) {
    .innerPage .productGrid {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
}


@media (max-width: 800px) {
    .productDetails .aboutContent {
        padding-top: 20px;
    }

    .innerPage .productGrid {
        grid-template-columns: 1fr 1fr;
    }
}


@media (max-width: 600px) {

    .innerPage .productGrid {
        grid-template-columns: 1fr;
    }

    .productDetails .aboutImg {
        padding: 15px;
    }

    .productDetails .aboutImg img {
        padding: 0px;
        min-height: 300px;
        max-height: 300px;
    }
}



.sticklist {
    position: fixed;
    z-index: 111;
    top: 50%;
    display: flex;
    align-items: baseline;
    transition: all 1s ease 0s;
    /* max-width: 170px;
  min-width: 170px; */
    flex-direction: column;
    margin-top: -101px;
}

.sticklist ul {
    padding: 0px;
    margin: 0px;
}

.open-close-arrow {
    border-radius: 0px;
    padding: 10px;
    text-align: center;
    line-height: 32px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%);
    background: #96c74f;
    color: #fff;
    font-size: 20px;
    -webkit-transition: all 0.3s ease 0s;
    display: inline-block;
    vertical-align: bottom;
    border: 0px;
    width: auto;
    min-width: 50px;
    border-radius: 0px 10px 10px 0px;
}

li.whataspp-icon,
.inquiery-icon {
    overflow: hidden;
}

li.whataspp-icon.none-li.open {
    position: relative;
    width: 100%;
    left: 0;
}

.sticklist ul.open {
    width: 100%;
    left: 0;
}

li.whataspp-icon {
    background: #2db640;
    border: 0px solid #2db640;
    color: #fff;
}

.none-li a i {
    font-size: 20px;
    padding: 0px;
    color: #fff;
}

.sticklist ul.open li {
    max-width: 170px;
    width: 100%;
    font-size: 16px;
    pointer-events: unset;
}

li.none-li a i {
    padding-right: 0px;
}

button.open-close-arrow.open span.open-arrow {
    display: none;
}

button.open-close-arrow span.open-arrow {
    display: block;
}

.open-close-arrow span.close-arrow {
    display: none;
    transition: 0.2s all;
}

.open-close-arrow.open span.close-arrow {
    display: block !important;
}

button.open-close-arrow.open span.open-arrow {
    display: none;
}

button.open-close-arrow span.open-arrow {
    display: block;
}

.open-close-arrow span.close-arrow {
    display: none;
    transition: 0.2s all;
}

.open-close-arrow.open span.close-arrow {
    display: block !important;
}

.btn-text {
    opacity: 0;
    white-space: nowrap;
    display: none;
}

.none-li .icon {
    transition: 0.8s all;
}

.inquiery-icon {
    background: #00509e !important;
    color: #fff !important;
}

.sticklist ul.open li.whataspp-icon.none-li span.btn-text,
.sticklist ul.open li.inquiery-icon.none-li span.btn-text {
    opacity: 1;
    display: block;
    font-family: "Roboto Flex";
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
}

.sticklist ul.open li {
    background: #fff;
}

.sticklist ul.open li.whataspp-icon {
    color: #fff;
    background: #2db640;
    border-color: #2db640;
}

.sticklist .whataspp-icon:hover {
    max-width: 170px;
    width: 100%;
    font-size: 16px;
    pointer-events: unset;
}

.sticklist .whataspp-icon:hover .btn-text {
    opacity: 1;
    color: #fff !important;
    display: block;
}

.sticklist .inquiery-icon:hover {
    max-width: 170px;
    width: 100%;
    font-size: 16px;
    color: #fff !important;
    text-decoration: none;
}

.sticklist .inquiery-icon:hover .btn-text {
    opacity: 1;
    color: #fff;
    display: block;
}

.sticklist ul.open li.whataspp-icon span.btn-text {
    color: #fff;
}

.sticklist ul.open li.inquiery-icon span.btn-text {
    color: #fff;
}

.download-pdf {
    background: #97c851 !important;
    color: #000 !important;
    border: 0px solid transparent !important;
}

span.btn-text {
    transition: 0.8s all;
}

li.download-pdf.none-li.inquiery-icon.click1.imgnone:hover span.icon,
.sticklist ul.open li.download-pdf.none-li.inquiery-icon.click1.imgnone span.icon {
    transform: translateX(-17px);
}

.imgnone a {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: unset !important;
    font-size: 14px;
    font-family: 'Inter';
    color: #fff;
}

.imgnone .btn-text {
    padding-right: 20px;
}

.imgnone {
    display: flex;
    align-items: center;
    transition: 0.6s all !important;
    width: 50px;
    margin: 5px 0px;
    border-radius: 0px 10px 10px 0px;
}

ul#sideService.open li h6 {
    display: block;
}

ul#sideService.open li {
    background: #00457e;
}

.sticklist span.icon,
.sticklist span.icon1 {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.book-app a {
    text-decoration: unset;
}


.CallBtn {
    padding: 0px;
}

.CallBtn a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.CallBtn a:first-child {
    background: #000409;
    color: #fff;
}

.BtnMerge a:last-child {
    background: #4aca59;
}


.my-custom-modal .modal-title {
    padding: 20px 0px !important;
    background: #00509e;
    position: relative;
}

.my-custom-modal .modal-title h2 {
    text-align: center;
    color: #ffff;
    margin: 0px !important;
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.my-custom-modal .modal-content {
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    border: 0px;
}

.my-custom-modal .modal-body form {
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.my-custom-modal .modal-body {
    padding: 0px;
}

.my-custom-modal .modal-body .InputField input,
.my-custom-modal .modal-body .InputField textarea {
    outline: 0px;
    width: 100%;
    padding: 15px 20px !important;
    border: 1px solid #22222221 !important;
    transition: 0.8s all;
    border-radius: 6px;
    background: #f4f4f4 !important;
    position: relative;
    font-size: 14px;
    color: #444;
    font-family: 'Inter';
    font-weight: 500;
}

.InputFieldWrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;
    align-items: center;
}

.InputFieldWrapper span {
    padding: 15px 25px;
    background: #00488f;
    height: 51px;
    border-radius: 6px;
    font-size: 14px;
    color: #fff;
    font-family: 'Inter';
    font-weight: 500;
}

.my-custom-modal .submitBtn {
    padding: 15px;
    border-radius: 6px;
    border: 0px;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

.my-custom-modal .modal-body form p {
    margin: 0px;
    text-align: center;
    font-size: 13px;
    font-family: poppins;
    font-weight: 500;
}

.my-custom-modal .modal-title span {
    position: absolute;
    top: 0;
    right: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff1c;
    height: 100%;
    cursor: pointer;
}


.my-custom-modal .modal-title span svg {
    color: #fff;
    height: auto;
    width: 18px;
}


.bgInquery {
    background: #cb0011;
}

.bgWhatsapp {
    background: #2db640;
}


.footer-box {
    display: none;
}

.footer-box .book-app {
    padding: 15px 0px;
}

.footer-box .book-app a {
    font-size: 12px;
    font-family: 'Poppins';
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    line-height: normal;
}

.footer-box .book-app a img {
    max-width: 18px;
}


.sticklist span.icon img {
    max-width: 50%;
}


.WhatsAppBtn {
    background: #2db640 !important;
}

/* -----------------------  2 side button ------------------------------------- */

/* mobile side btn */
@media screen and (max-width: 767px) {
    .footer-box {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #0f4da2;
        color: white;
        text-align: center;
        z-index: 999999;
        display: grid !important;
        grid-template-columns: 1fr 1fr;
    }

    .book-app {
        width: 100%;
        padding: 2%;
        float: left;
        line-height: 40px;
        text-align: center;
        max-height: 100px;
    }

    .sticklist {
        display: none !important;
    }

    footer {
        margin-bottom: 36px;
    }
}